* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #2d3436;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

video {
  width: 100%

}
#video{
  padding: 20px 164px;
  background-color: #636e72;

}

.Videocon{
  max-width: 80%;
  margin: auto;
}
.Title{
  text-align: center;
  margin-top: 10px;
}
.buttons{
  width: 40%;
  margin: auto;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}
button{
  border: 1.23px black solid;
  padding: 6px;
  font-weight: 100;
  font-size: 1rem;
  cursor: pointer;
}
.Green{
  color: #44bd32;
}
.Red{
  color: #e84118;
}
.Yel{
  color:#fbc531;
}