* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(63, 63, 63);
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

video {
  width: 100%
}
#video{
  padding-right: 164px;
  padding-left: 164px;
}

.Title{
  text-align: center;
  margin-top: 10px;
}
.buttons{
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
button{
  border: 1.23px black solid;
  padding: 6px;
  font-weight: 100;
  font-size: 1rem;
  cursor: pointer;
}
.Green{
  color: #44bd32;
}
.Red{
  color: #e84118;
}
.Yel{
  color:#fbc531;
}